MODE=LOCAL

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=Shop

JWT_SECRET_KEY="some_random_letters"
JWT_ALGORITHM="HS256"
JWT_ACCESS_TOKEN_EXIPRE_MINUTES=30

REDIS_HOST=localhost
REDIS_PORT=6379
